body {
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url("images/aquarium-plants.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: #CEF0D4; 
    font-family: 'Lobster', cursive; 
    font-size: 60px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 1% 0 3%; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34;
}

.content {
    max-width: 960px;
    margin: auto;
}

.rps {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
    margin: auto;
    background-color: rgba(4,102,212, 0.3);
    min-height: 160px;
}
.status {
    clear: both;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.65);
    width: 60%;
}
.fishOp {
    width: 10%;
    min-width: 60px;
    float: left;
    clear: left;
}
.score {
    background-color: rgba(240, 248, 255, 0.65);
    border-radius: 35px;
    padding: 6px 10px;
    float: left;
}
.score p {
    margin: 0;
}
#points {
    padding: 0;
}
#oppPoints {
    padding: 0;    
}
.btnGrp {
    clear: both;
    max-width: 400px;
    margin-left: 15%;
}
.opponentHand {
    width: 100%;
    padding-right: 5%;
}
.opponentHand img {
    display: block;
    width: 10%;
    float: right;
    margin-left: -5%;
    min-width: 50px;
}
.btnGrp img {
    width: 25%;
    margin-left: -15%;
    position: relative;
}
.btnGrp img:hover {
    bottom: 10px;
    cursor: pointer;
}
.chatWrapper {
    max-width: 100%;
    margin: auto;
}

#chat {
    clear: both;
    height: 180px;
    /* makes the scroll bar stay at the bottom */
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/grunge_texture.png');
    background-size: cover;
    background-position: bottom;
    background-color: rgb(219, 178, 116);
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px 5px 10px;
}

#textInput {
    background-color: rgba(255,255,255,0.7);
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

#sysMsg {
    color: rgb(221, 18, 18);
    font-family: sans-serif;
    font-weight: 600;
}


@media only screen and (max-width: 1013px) {
    
    h1 {
        font-size: 40px;
    }
    div.boat, div.fish2 {
        display: none;
    }

}

@media only screen and (max-width: 426px) {
    body {
        font-size: 1em;
        min-height: 700px;
    }
    div.boat, div.fish2, div.fish3, span.bubble1, span.bubble2 {
        display: none;
    }
    h1 {
        font-size: 30px;
        margin: 0%;
    }
    .opponentHand img {
        margin-left: -10%;
    }

}
